@page
@model VietInkWebApp.Pages.checkout.IndexModel
@{
    var cart = Model.Cart;
    var total = 0;
    var originalTotal = 0;
    if (cart.CartItems != null)
    {
        foreach (var item in cart.CartItems)
        {
            originalTotal += item.Quantity * 99000;
            total += item.Quantity * (int)item.Product.UnitPrice;
        }
    }
}


<!DOCTYPE html>
<!-- saved from url=(0097)https://dinh-dinh.com/checkouts/cn/Z2NwLWFzaWEtc291dGhlYXN0MTowMUhNSzZBNjQ4NkVENE5DRFFRRjJQOUozWQ -->
<html lang="en-VN" dir="ltr" style="background-color: rgb(255, 210, 1);">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Thanh toán - VietInk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, user-scalable=0">
  <meta name="referrer" content="origin">
  
  @*<script charset="utf-8" src="~/assets/~/assets/Checkout/base.css"></script>*@
</head>
<!-- rgb(255, 210, 1) -->

<body class="" style="background-color: rgb(255, 210, 1);">

  
  <link rel="stylesheet" href="~/assets/Checkout/334.latest.en.cdef91a6da3671b6431b.css" crossorigin="">
  <link rel="stylesheet" href="~/assets/Checkout/app.latest.en.e5a7f63ca146c0549466.css" crossorigin="">
  <link rel="stylesheet" href="~/assets/Checkout/958.latest.en.3388a58cacfe5a93e981.css" crossorigin="">
  <link rel="stylesheet" href="~/assets/Checkout/74.latest.en.c8c63ec740052d5494b3.css" crossorigin="">

  <div id="app">
    <div
      style="--swn0j0: rgb(18,18,18); --swn0j1: rgb(255,255,255); --swn0j2: rgb(39,39,39); --swn0j3: rgb(246,246,246); --swn0j6: rgb(104,104,104); --swn0j7: rgb(18,18,18); --swn0j9: rgb(0,0,0); --swn0j8: rgb(0,0,0); --swn0ja: rgb(255,255,255); --swn0jb: rgb(255,255,255); --swn0j25: rgb(18,18,18); --swn0j14: rgb(255,210,1); --swn0j16: rgb(203,181,129); --swn0j15: rgb(0,0,0); --swn0j18: rgb(245,202,0); --swn0j19: rgba(0,0,0,0.045); --swn0j1a: rgb(255,255,255); --swn0j1b: rgba(0,0,0,0.56); --swn0j1c: rgba(0,0,0,0.1); --swn0j27: rgb(255,255,255); --swn0j28: rgb(39,39,39); --swn0j29: rgb(246,246,246); --swn0j17: rgb(0, 0, 0); --swn0j2c: rgb(104,104,104); --swn0j2a: rgba(18,18,18,0.05); --swn0j2d: rgb(154,39,74); --swn0j2f: rgb(74,88,72); --swn0j2n: rgba(18,18,18,0.05); --swn0j35: rgba(18,18,18,0.05); --swn0j4i: rgb(18,18,18); --swn0j1m: rgb(243,243,243); --swn0j1o: rgb(211,211,211); --swn0j1n: rgb(0,0,0); --swn0j1q: rgb(234,234,234); --swn0j1r: rgba(0,0,0,0.045); --swn0j1s: rgb(255,255,255); --swn0j1t: rgba(0,0,0,0.56); --swn0j1u: rgba(0,0,0,0.1); --swn0j4k: rgb(255,255,255); --swn0j4l: rgb(39,39,39); --swn0j4m: rgb(246,246,246); --swn0j1p: rgb(0, 0, 0); --swn0j4p: rgb(104,104,104); --swn0j4n: rgba(18,18,18,0.05); --swn0j4q: rgb(197,52,96); --swn0j50: rgba(18,18,18,0.05); --swn0j5i: rgba(18,18,18,0.05);">
      <div class="g9gqqf1 _1fragemg6 _1fragemmu _1fragemfd _1fragemfg">
        <div class="_1fragemfs _1fragemeg">
          <div class="_1fragemfg _1fragemfd _1fragemfs _1fragemmu _1fragemeg F3k_c">
            <div class="_1fragemfy _1fragemdw">
              <div
                class="_1fragemeg _1fragemfy _1fragemgr _1fragemh8 _1fragemha _16s97g7c _16s97g7k _16s97g718 _16s97g71g"
                style="--_16s97g78: minmax(0, 1fr); --_16s97g7g: 1fr; --_16s97g714: minmax(0, 1fr); --_16s97g71c: minmax(auto, max-content) minmax(0, 1fr) minmax(auto, max-content);">
                <div
                  class="_1fragemeg _1fragemfy _1fragemgr _1fragemh8 _1fragem2w _1fragem2g _1fragem3g _1fragem20 _1fragemha _16s97g7d _16s97g7e _16s97g7k _16s97g719 _16s97g71a _16s97g71g"
                  style="background-color:  var(--x-skeleton-color-schemes-scheme2-base-background); --_16s97g79: 1fr; --_16s97g7a: 1fr; --_16s97g7g: minmax(0, 1fr); --_16s97g715: minmax(0, 1fr) minmax(0, 61rem) minmax(0, 1fr); --_16s97g716: minmax(0, 1fr) minmax(0, 110.5rem) minmax(0, 1fr); --_16s97g71c: minmax(0, 1fr);">
                  <div></div>
                  <div class="_1fragemfs _1fragem8s _1fragemao _1fragem6w _1fragemck _1fragemeg">
                    <div class="_1fragemfs _1fragem9q _1fragemaq _1fragem7u _1fragemcm _1fragemeg _16s97g7ac">
                      <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgi _1fragemgz">
                        <div>
                          <div>
                            <header
                              class="_1fragemeg _1fragemfy _1fragemgm _1fragemh3 _1fragemeo _1fragemes _1fragemha _16s97g7c _16s97g7k _16s97g718 _16s97g71g    _16s97g7ac"
                              style="--_16s97g78: 1fr; --_16s97g7g: minmax(0, 1fr); --_16s97g714: minmax(auto, max-content) minmax(0, 1fr) minmax(auto, max-content); --_16s97g71c: minmax(0, 1fr);">
                              <span>
                                  <a id="cart-link" aria-label="Giỏ hàng"
                                                                   asp-page="/shoppingcart/Index"
                                  class="s2kwpi1 _1fragemeg _1fragemmd _1fragemmm s2kwpi2 _1fragemm5 _1fragemm8"><span
                                    class="_1fragemht _1fragem1w _1fragemdo _1fragemdk a8x1wua _1fragemfs a8x1wuj a8x1wum"><svg
                                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" focusable="false"
                                      aria-hidden="true" class="a8x1wuo _1fragemfs _1fragemht _1fragemdo _1fragemdk">
                                      <path
                                        d="M2.675 10.037 3.072 4.2h7.856l.397 5.837A2.4 2.4 0 0 1 8.932 12.6H5.069a2.4 2.4 0 0 1-2.394-2.563">
                                      </path>
                                      <path d="M4.9 3.5a2.1 2.1 0 1 1 4.2 0v1.4a2.1 2.1 0 0 1-4.2 0z"></path>
                                    </svg></span>
                                    </a></span>
                              <div class="_1fragemfu _1fragemg0 _1fragemes _1fragemeg">
                                <h1 class="n8k95w1 _1fragemeg n8k95w2">
                                  <div class="_1fragemfs _1fragemeg _16s97g730" style="--_16s97g72w: 6rem;"><span>
                                      <a asp-page="/Index">
                                        <img src="~/assets/LOGO1.png" alt="" height="60" class="hmHjN"
                                          style="max-width: min(100%, 60px);">
                                      </a>
                                      </span></div> <span
                                    class="_1fragemm0">Thanh toán</span>
                                </h1>
                              </div>
                              <div style="visibility: hidden;"><span><a id="cart-link" aria-label="Giỏ hàng"
                                    href="shoppingcart.html"
                                    class="s2kwpi1 _1fragemeg _1fragemmd _1fragemmm s2kwpi2 _1fragemm5 _1fragemm8"><span
                                      class="_1fragemht _1fragem1w _1fragemdo _1fragemdk a8x1wua _1fragemfs a8x1wuj a8x1wum"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" focusable="false"
                                        aria-hidden="true" class="a8x1wuo _1fragemfs _1fragemht _1fragemdo _1fragemdk">
                                        <path
                                          d="M2.675 10.037 3.072 4.2h7.856l.397 5.837A2.4 2.4 0 0 1 8.932 12.6H5.069a2.4 2.4 0 0 1-2.394-2.563">
                                        </path>
                                        <path d="M4.9 3.5a2.1 2.1 0 1 1 4.2 0v1.4a2.1 2.1 0 0 1-4.2 0z"></path>
                                      </svg></span></a></span></div>
                            </header>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div></div>
                </div>
                <div class="_1fragemfs _1fragemeg">
                  <div
                    class="_1fragemeg _1fragemfy _1fragemgr _1fragemh8 _1fragemha _16s97g7c _16s97g7d _16s97g7e _16s97g7k _16s97g718 _16s97g719 _16s97g71a _16s97g71g   _16s97g78a"
                    style="--_16s97g78: minmax(0, 1fr); --_16s97g79: 1fr; --_16s97g7a: 1fr; --_16s97g7g: minmax(0, 1fr); --_16s97g714: minmax(0, 1fr); --_16s97g715: minmax(0, 1fr) minmax(0, 61rem) minmax(0, 1fr); --_16s97g716: minmax(0, 1fr) minmax(0, 65rem) minmax(0, 45.5rem) minmax(0, 1fr); --_16s97g71c: minmax(0, 1fr);">
                    <div class="_16s97g7s" style="--_16s97g7o: span 2;">
                      <div
                        class="_1fragemeg _1fragemfy _1fragemgr _1fragemh8 _1fragemha _16s97g7c _16s97g7k _16s97g718 _16s97g71g   _16s97g788"
                        style="--_16s97g78: minmax(0, 1fr); --_16s97g7g: 1fr; --_16s97g714: minmax(0, 1fr); --_16s97g71c: minmax(0, 1fr) minmax(auto, max-content);">
                        <div class="_1fragemfu _1fragemg0 _1fragemet _1fragemeg">
                          <div
                            class="_1fragemfs _1fragem8t _1fragemap _1fragem6x _1fragemcl _1fragemeg _16s97g77s  _16s97g732"
                            style="--_16s97g72y: 65rem;">
                            <main id="checkout-main"
                              class="_1fragemfs _1fragem8u _1fragemaq _1fragem6y _1fragemcm _1fragemeg _16s97g7ac">
                              <div id="OnePageFrame" class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgj _1fragemh0">
                                <form method="POST" >
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                   @*<input type="hidden" asp-for="User.UserId" value="0" class="form-control"></input>*@
                                  @*<input type="hidden" asp-for="Order.OrderId" value="0" class="form-control"></input>*@
                                  <input type="hidden" asp-for="User.Role" value="3" class="form-control"></input>
                                  <input type="hidden" asp-for="User.Password" value="000000" class="form-control"></input>
                                    <input type="hidden" asp-for="User.UserName" value="000000" class="form-control"></input>

                                  <div class="_1fragemeg">
                                    <div
                                      class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgh _1fragemgy _1fragem9o _1fragembk _1fragem7s _1fragemdg">
                                      <div class="hhdYQ">
                                        <section
                                          class="_1fragemfg _1fragemfd _1fragemfs _1fragem8s _1fragem9p _1fragemao _1fragembl _1fragem6w _1fragem7t _1fragemck _1fragemdh _1fragemmu _1fragemeg">
                                          <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgr _1fragemh8">
                                            <div>
                                              <div>
                                                <div>
                                                  <div class="Rne9s">
                                                    <h2 class="n8k95w1 _1fragemeg n8k95w2"> </h2>
                                                  </div>
                                                  <div class="_16s97g74g"></div>
                                                  <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgh _1fragemgy">
                                                    <div class="_7ozb2u2 _1fragemgd _1fragemgu _1fragemeg _1fragemfy _10vrn9p1 _10vrn9p0 _10vrn9p4 _1fragemfh">
                                                      <div class="form-group">
                                                          @*<label asp-for="User.Email" class="control-label" >
                                                          <span class="">
                                                              <span
                                                              class="">Email để nhận thông tin theo dõi đơn hàng (Ví dụ: email@gmail.com)</span></span>
                                                          </label>*@
                                                        <div>
                                                           <input asp-for="User.Email" style="font-size: 15px; height: 40px"
                                                            placeholder="Email để nhận thông tin theo dõi đơn hàng (Ví dụ: email@gmail.com)"
                                                            type="email" class="form-control" />
                                                            <span asp-validation-for="User.Email" class="text-danger"></span>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </section>
                                        <div class="_16s97g74g _16s97g74x"></div>
                                        <div>
                                          <div>
                                            <section
                                              class="_1fragemfg _1fragemfd _1fragemfs _1fragem8s _1fragem9p _1fragemao _1fragembl _1fragem6w _1fragem7t _1fragemck _1fragemdh _1fragemmu _1fragemeg">
                                              <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgh _1fragemgy">
                                                <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgd _1fragemgu">
                                                  <h2 class="n8k95w1 _1fragemeg n8k95w2">Vận chuyển</h2>
                                                </div>
                                                <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgk _1fragemh1">
                                                  <section aria-label="Địa chỉ nhận hàng" class="_1fragemfs _1fragemeg">
                                                    <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgh _1fragemgy">
                                                      <div
                                                        class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgk _1fragemh1">
                                                        <div
                                                          class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgh _1fragemgy">
                                                          <div>
                                                            <div id="shippingAddressForm">
                                                              <div aria-hidden="false" class="pxSEU">
                                                                <div
                                                                  class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgh _1fragemgy">
                                                                  <div
                                                                    class="_1fragemeg _1fragemfy _1fragemgh _1fragemgy _1fragemh9 _16s97g7c _16s97g7k _16s97g718 _16s97g71g"
                                                                    style="--_16s97g78: minmax(0, 1fr); --_16s97g7g: minmax(0, 1fr); --_16s97g714: minmax(0, 1fr); --_16s97g71c: minmax(0, 1fr);">
                                                                    <div
                                                                      class="vTXBW _1fragemfh _10vrn9p1 _10vrn9p0 _10vrn9p4">
                                                                      <div>
                                                                        <div class="j2JE7 _1fragemfh"><label
                                                                            for="Select0" class="QOQ2V NKh24"><span
                                                                              class="KBYKh"><span
                                                                                class="rermvf1 _1fragemlf _1fragemlh _1fragemfs">Quốc
                                                                                Gia</span></span></label>
                                                                                <select
                                                                            name="countryCode" id="Select0" required=""
                                                                            autocomplete="shipping country"
                                                                            class="_b6uH _1fragemmu yA4Q8 vYo81 RGaKd">
                                                                            <option value="VN">Vietnam</option>
                                                                          </select>
                                                                          <div class="TUEJq"><span
                                                                              class="_1fragemht _1fragem1w _1fragemdo _1fragemdk a8x1wu3 _1fragemfs a8x1wug a8x1wum"><svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                viewBox="0 0 14 14" focusable="false"
                                                                                aria-hidden="true"
                                                                                class="a8x1wuo _1fragemfs _1fragemht _1fragemdo _1fragemdk">
                                                                                <path stroke-linecap="round"
                                                                                  stroke-linejoin="round"
                                                                                  d="m11.9 5.6-4.653 4.653a.35.35 0 0 1-.495 0L2.1 5.6">
                                                                                </path>
                                                                              </svg></span></div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  <div
                                                                    class="_1fragemeg _1fragemfy _1fragemgh _1fragemgy _1fragemh9 _16s97g7c _16s97g7k _16s97g718 _16s97g71g"
                                                                    style="--_16s97g78: minmax(0, 1fr); --_16s97g7g: minmax(0, 1fr); --_16s97g714: minmax(0, 1fr); --_16s97g71c: minmax(0, 1fr);">
                                                                    <div
                                                                      class="_7ozb2u2 _1fragemgd _1fragemgu _1fragemeg _1fragemfy _10vrn9p1 _10vrn9p0 _10vrn9p4 _1fragemfh">
                                                                      <div class="form-group">
                                                                          <label
                                                                          id="TextField0-label" for="TextField0"
                                                                          class="cektnc3 _1frageme8 _1fragemlz _1fragemli _1fragemmo _1fragemmd _1fragemm8 _1fragemmm"><span
                                                                            class="cektnc9"><span
                                                                              class="rermvf1 _1fragemlf _1fragemlh _1fragemfs">Tên (Ví dụ: Văn A)</span></span></label>
                                                                        <div class="form-group">
                                                                          <input asp-for="User.FirstName" style="font-size: 15px; height: 40px"
                                                                            placeholder="Tên (Ví dụ: Văn A)"
                                                                            type="text" 
                                                                            class="form-control"  style="height: 40px">
                                                                            <span asp-validation-for="User.FirstName" class="text-danger"></span>

                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                    <div
                                                                      class="_7ozb2u2 _1fragemgd _1fragemgu _1fragemeg _1fragemfy _10vrn9p1 _10vrn9p0 _10vrn9p4 _1fragemfh">
                                                                      <div class="">
                                                                          <label
                                                                          id="TextField1-label" for="TextField1"
                                                                          class="cektnc3 _1frageme8 _1fragemlz _1fragemli _1fragemmo _1fragemmd _1fragemm8 _1fragemmm"><span
                                                                            class="cektnc9"><span
                                                                              class="rermvf1 _1fragemlf _1fragemlh _1fragemfs">Họ
                                                                              (Ví dụ: Nguyễn)</span></span></label>
                                                                        <div class="form-group">
                                                                        <input asp-for="User.LastName" style="font-size: 15px; height: 40px"
                                                                            placeholder="Họ (Ví dụ: Nguyễn)"
                                                                            class="form-control"  style="height: 40px">
                                                                        <span asp-validation-for="User.LastName" class="text-danger"></span>

                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  <div
                                                                    class="_1fragemeg _1fragemfy _1fragemgh _1fragemgy _1fragemh9 _16s97g7c _16s97g7k _16s97g718 _16s97g71g"
                                                                    style="--_16s97g78: minmax(0, 1fr); --_16s97g7g: minmax(0, 1fr); --_16s97g714: minmax(0, 1fr); --_16s97g71c: minmax(0, 1fr);">
                                                                    <div class="Vob8N">
                                                                      <div
                                                                        class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgf _1fragemgw">
                                                                        <div
                                                                          class="_7ozb2u2 _1fragemgd _1fragemgu _1fragemeg _1fragemfy _10vrn9p1 _10vrn9p0 _10vrn9p4 _1fragemfh">
                                                                          <div class=""><label
                                                                              id="TextField2-label" for="TextField2"
                                                                              class="cektnc3 _1frageme8 _1fragemlz _1fragemli _1fragemmo _1fragemmd _1fragemm8 _1fragemmm"><span
                                                                                class="cektnc9"><span
                                                                                  class="rermvf1 _1fragemlf _1fragemlh _1fragemfs">Địa
                                                                                  chỉ (Ghi rõ số nhà, tên đường,
                                                                                  phường/xã,
                                                                                  quận/huyện)</span></span></label>
                                                                            <div class="form-group">
                                                                                <input asp-for="Order.ShipAddress" style="font-size: 15px; height: 40px"
                                                                                placeholder="Địa chỉ (Ghi rõ số nhà, tên đường, phường/xã, quận/huyện)"
                                                                                type="text"
                                                                                class="form-control"  style="height: 40px">
                                                                                 <span asp-validation-for="Order.ShipAddress" class="text-danger"></span>

                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  <div
                                                                    class="_1fragemeg _1fragemfy _1fragemgh _1fragemgy _1fragemh9 _16s97g7c _16s97g7k _16s97g718 _16s97g71g"
                                                                    style="--_16s97g78: minmax(0, 1fr); --_16s97g7g: minmax(0, 1fr); --_16s97g714: minmax(0, 1fr); --_16s97g71c: minmax(0, 1fr);">
                                                                    <div
                                                                      class="_7ozb2u2 _1fragemgd _1fragemgu _1fragemeg _1fragemfy _10vrn9p1 _10vrn9p0 _10vrn9p4 _1fragemfh">
                                                                      <div class=""><label
                                                                          id="TextField3-label" for="TextField3"
                                                                          class="cektnc3 _1frageme8 _1fragemlz _1fragemli _1fragemmo _1fragemmd _1fragemm8 _1fragemmm"><span
                                                                            class="cektnc9"><span
                                                                              class="rermvf1 _1fragemlf _1fragemlh _1fragemfs">Tỉnh/Thành
                                                                              Phố</span></span></label>
                                                                        <div class="form-group">
                                                                             <input asp-for="Order.ShipCity" style="font-size: 15px; height: 40px"
                                                                            placeholder="Tỉnh/Thành Phố" 
                                                                            type="text"
                                                                             class="form-control"  style="height: 40px">
                                                                            <span asp-validation-for="Order.ShipCity" class="text-danger"></span>

                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                    <div class="ii1aN">
                                                                      <div
                                                                        class="_7ozb2u2 _1fragemgd _1fragemgu _1fragemeg _1fragemfy _10vrn9p1 _10vrn9p0 _10vrn9p4 _1fragemfh">
                                                                        <div class=""><label
                                                                            id="TextField4-label" for="TextField4"
                                                                            class="cektnc3 _1frageme8 _1fragemlz _1fragemli _1fragemmo _1fragemmd _1fragemm8 _1fragemmm"><span
                                                                              class="cektnc9"><span
                                                                                class="rermvf1 _1fragemlf _1fragemlh _1fragemfs">
                                                                                Quận/ Huyện</span></span></label>
                                                                          <div class="form-group">
                                                                            <input asp-for="Order.ShipRegion" style="font-size: 15px; height: 40px"
                                                                              placeholder="Quận/ Huyện" 
                                                                              type="text" 
                                                                              class="form-control" style="height: 40px">
                                                                             <span asp-validation-for="Order.ShipRegion" class="text-danger"></span>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  <div
                                                                    class="_1fragemeg _1fragemfy _1fragemgh _1fragemgy _1fragemh9 _16s97g7c _16s97g7k _16s97g718 _16s97g71g"
                                                                    style="--_16s97g78: minmax(0, 1fr); --_16s97g7g: minmax(0, 1fr); --_16s97g714: minmax(0, 1fr); --_16s97g71c: minmax(0, 1fr);">
                                                                    <div
                                                                      class="_7ozb2u2 _1fragemgd _1fragemgu _1fragemeg _1fragemfy _10vrn9p1 _10vrn9p0 _10vrn9p4 _1fragemfh">
                                                                      <div class=""><label
                                                                          id="TextField5-label" for="TextField5"
                                                                          class="cektnc3 _1frageme8 _1fragemlz _1fragemli _1fragemmo _1fragemmd _1fragemm8 _1fragemmm"><span
                                                                            class="cektnc9"><span
                                                                              class="rermvf1 _1fragemlf _1fragemlh _1fragemfs">Điện
                                                                              thoại (Ví dụ:
                                                                              0912345678)</span></span></label>
                                                                        <div class="form-group">
                                                                            <input asp-for="Order.PhoneNumber" style="font-size: 15px; height: 40px"
                                                                            placeholder="Điện thoại (Ví dụ: 0912345678)"type="tel"
                                                                            class="form-control" style="height: 40px">
                                                                             <span asp-validation-for="Order.PhoneNumber" class="text-danger"></span>

                                                                            @*<div
                                                                            class="_1fragemeg _1fragemmo _1fragemex _1fragemfo _7ozb2u1g">
                                                                            <div
                                                                              class="_1fragemfu _1fragemeg _1fragemhx">
                                                                              <div
                                                                                class="_5uqybw2 _1fragemfu _1fragemds _1fragemgh _1fragemgy _1fragemeo _1fragemes _1fragemhx">
                                                                                <button type="button"
                                                                                  class="_1xqelvi1 _1fragemfq _1fragemfs _1fragemeg _1fragemm3 _1fragemmd _1fragemm8 _1fragemmm _1fragemfu _1fragemev"
                                                                                  aria-describedby="Overlay0"><span
                                                                                    class="_1xqelvi2"><span
                                                                                      class="_1fragemht _1fragem1w _1fragemdo _1fragemdk a8x1wu3 _1fragemfs a8x1wui a8x1wum"><svg
                                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                                        viewBox="0 0 14 14"
                                                                                        focusable="false"
                                                                                        aria-label="More information"
                                                                                        class="a8x1wuo _1fragemfs _1fragemht _1fragemdo _1fragemdk">
                                                                                        <circle cx="7" cy="7" r="5.6">
                                                                                        </circle>
                                                                                        <path stroke-linecap="round"
                                                                                          stroke-linejoin="round"
                                                                                          d="M5.6 5.1c.2-1.3 2.6-1.3 2.8 0S6.95 6.4 6.95 7.45m.055 2.35H7v.005h.005z">
                                                                                        </path>
                                                                                        <circle cx="7" cy="9.7" r="0.1">
                                                                                        </circle>
                                                                                      </svg></span></span></button>
                                                                              </div>
                                                                            </div>
                                                                          </div>*@
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  <div>
                                                                    <div class="_1fragemeg _1fragemfu">
                                                                      <div class="_1mmswk95 _1fragemeg"><input
                                                                          type="checkbox" id="save_shipping_information"
                                                                          name="save_shipping_information"
                                                                          class="_1mmswk97 _1fragemi7 _1fragemi5 _1fragemi9 _1fragemi3 _1fragemj3 _1fragemiz _1fragemj7 _1fragemiv _1fragem4w _1fragem4c _1fragem5g _1fragem3s _1fragemfq _1fragemfs _1fragemht _1fragem1w _1fragemmd _1fragemm7 _1fragemmj _1fragemfh _1fragemmu">
                                                                        <div
                                                                          class="_1mmswk9l _1fragemfh _1fragemlz _1fragemli _1frageme8 _1fragemm7 _1fragemmm _1fragemmd">
                                                                          <span
                                                                            class="_1fragemht _1fragem1w _1fragemdo _1fragemdk a8x1wua _1fragemfs a8x1wug a8x1wum"><svg
                                                                              xmlns="http://www.w3.org/2000/svg"
                                                                              viewBox="0 0 14 14" focusable="false"
                                                                              aria-hidden="true"
                                                                              class="a8x1wuo _1fragemfs _1fragemht _1fragemdo _1fragemdk">
                                                                              <path stroke-linecap="round"
                                                                                stroke-linejoin="round"
                                                                                d="m12.1 2.8-5.877 8.843a.35.35 0 0 1-.54.054L1.4 7.4">
                                                                              </path>
                                                                            </svg></span>
                                                                        </div>
                                                                      </div><label for="save_shipping_information"
                                                                        class="_1mmswk9h _1fragemfs _1fragemdo _1fragemfq _1fragemc8">Lưu
                                                                        thông tin cho lần sau</label>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                                <div class="_1fragemfs _1fragemm0 _1fragemeg"><input
                                                                    tabindex="-1" label="" aria-hidden="true"
                                                                    aria-label="no-label" type="text"
                                                                    id="autofill_firstName" name="firstName"
                                                                    autocomplete="shipping given-name"><input
                                                                    tabindex="-1" label="" aria-hidden="true"
                                                                    aria-label="no-label" type="text"
                                                                    id="autofill_lastName" name="lastName"
                                                                    autocomplete="shipping family-name"><input
                                                                    tabindex="-1" label="" aria-hidden="true"
                                                                    aria-label="no-label" type="text"
                                                                    id="autofill_address1" name="address1"
                                                                    autocomplete="shipping street-address"><input
                                                                    tabindex="-1" label="" aria-hidden="true"
                                                                    aria-label="no-label" type="text" id="autofill_city"
                                                                    name="city"
                                                                    autocomplete="shipping address-level2"><input
                                                                    tabindex="-1" label="" aria-hidden="true"
                                                                    aria-label="no-label" type="text"
                                                                    id="autofill_country" name="country"
                                                                    autocomplete="shipping country"><input tabindex="-1"
                                                                    label="" aria-hidden="true" aria-label="no-label"
                                                                    type="text" id="autofill_zone" name="zone"
                                                                    autocomplete="shipping address-level1"><input
                                                                    tabindex="-1" label="" aria-hidden="true"
                                                                    aria-label="no-label" type="text"
                                                                    id="autofill_address_level1" name="address-level1"
                                                                    autocomplete="shipping address-level1"><input
                                                                    tabindex="-1" label="" aria-hidden="true"
                                                                    aria-label="no-label" type="text"
                                                                    id="autofill_province" name="province"
                                                                    autocomplete="shipping address-level1"><input
                                                                    tabindex="-1" label="" aria-hidden="true"
                                                                    aria-label="no-label" type="text"
                                                                    id="autofill_postalCode" name="postalCode"
                                                                    autocomplete="shipping postal-code"><input
                                                                    tabindex="-1" label="" aria-hidden="true"
                                                                    aria-label="no-label" type="text"
                                                                    id="autofill_phone" name="phone"
                                                                    autocomplete="shipping tel"></div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div
                                                          class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgh _1fragemgy">
                                                          <h3 class="n8k95w1 _1fragemeg n8k95w3">Phương thức vận chuyển
                                                          </h3>
                                                          <div class="yblnR">
                                                            <div>
                                                              <div
                                                                class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgj _1fragemh0">
                                                                <div
                                                                  class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgf _1fragemgw">
                                                                  <fieldset id="shipping_methods">
                                                                    <legend class="_1fragemm0">Chọn hình thức vận chuyển
                                                                    </legend>
                                                                    <div
                                                                      class="Wo4qW ezrb1p3 _1fragemfh _1fragemmu NDMe9 NdTJE PuVf0">
                                                                      <div class="B4zH6 Zb82w HKtYc OpmPd">
                                                                        <div class="yL8c2 ezrb1p5 _1fragemfi">
                                                                          <div class="f5aCe">
                                                                            <div>
                                                                              <p
                                                                                class="_1x52f9s1 _1fragemeg _1x52f9so _1fragemg6">
                                                                                Giao Nhanh (2-3 Ngày Trong Hà Nội | 3-4
                                                                                Ngày Tại Các Tỉnh Khác)</p>
                                                                            </div>
                                                                            <div><span translate="yes"
                                                                                class="_19gi7yt0 _19gi7yth _1fragemg6 _19gi7yt1 notranslate">₫22,000</span>
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </fieldset>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </section>
                                                </div>
                                              </div>
                                            </section>
                                            <div class="_16s97g74g _16s97g74x"></div>
                                          </div>
                                        </div>
                                        <div>
                                          <div>
                                            <section aria-label="Phương thức thanh toán"
                                              class="_1fragemfg _1fragemfd _1fragemfs _1fragem8s _1fragem9p _1fragemao _1fragembl _1fragem6w _1fragem7t _1fragemck _1fragemdh _1fragemmu _1fragemeg">
                                              <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgh _1fragemgy">
                                                <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgd _1fragemgu">
                                                  <h2 class="n8k95w1 _1fragemeg n8k95w2">Phương thức thanh toán</h2>
                                                  <p class="_1x52f9s1 _1fragemeg _1x52f9so _1fragemg6 _1x52f9si"> </p>
                                                </div>
                                                <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgl _1fragemh2">
                                                  <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgm _1fragemh3">
                                                    <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgh _1fragemgy">
                                                      <div>
                                                        <div
                                                          class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgh _1fragemgy">
                                                          <fieldset id="basic">
                                                            <legend class="_1fragemm0">Chọn hình thức thanh toán
                                                            </legend>
                                                            <div
                                                              class="Wo4qW ezrb1p3 _1fragemfh _1fragemmu NDMe9 NdTJE PuVf0">
                                                              <div class="B4zH6 Zb82w HKtYc OpmPd"><label
                                                                  for="basic-paymentOnDelivery"
                                                                  class="yL8c2 ezrb1p5 _1fragemfi D1RJr">
                                                                  <div class="hEGyz">
                                                                    <div class="_1fragemeg"><input type="radio" checked="true"
                                                                        id="basic-paymentOnDelivery" name="basic"
                                                                        class="_6hzjvo5 _1fragemfq _1fragemfs _1fragemmd _1fragemm7 _1fragemmj _6hzjvof _1fragemfh _1fragemmu _6hzjvoe _6hzjvob">
                                                                    </div>
                                                                    <div class="f5aCe">
                                                                      <div><span
                                                                          class="_19gi7yt0 _19gi7yth _1fragemg6">Trả
                                                                          Tiền Khi Nhận Hàng (COD)</span></div>
                                                                    </div>
                                                                  </div>
                                                                </label></div>
                                                              <!-- <div class="B4zH6"><label
                                                                  for="basic-manualPayment-100954243359"
                                                                  class="yL8c2 D1RJr">
                                                                  <div class="hEGyz">
                                                                    <div class="_1fragemeg"><input type="radio"
                                                                        id="basic-manualPayment-100954243359"
                                                                        name="basic"
                                                                        class="_6hzjvo5 _1fragemfq _1fragemfs _1fragemmd _1fragemm7 _1fragemmj _6hzjvof _1fragemfh _1fragemmu _6hzjvoe _6hzjvob">
                                                                    </div>
                                                                    <div class="f5aCe">
                                                                      <div><span
                                                                          class="_19gi7yt0 _19gi7yth _1fragemg6">Chuyển
                                                                          Khoản Ngân Hàng</span></div>
                                                                    </div>
                                                                  </div>
                                                                </label>
                                                                <div id="basic-manualPayment-100954243359-collapsible"
                                                                  hidden=""
                                                                  class="_94sxtb1 _1fragemlf _1fragemlh _1fragemeg _1fragemmf _1fragemmj _1fragemm9"
                                                                  style="height: 0px;">
                                                                  <div></div>
                                                                </div>
                                                              </div> -->
                                                              <!-- <div class="B4zH6"><label
                                                                  for="basic-customManualPayment-101836390687"
                                                                  class="yL8c2 D1RJr">
                                                                  <div class="hEGyz">
                                                                    <div class="_1fragemeg"><input type="radio"
                                                                        id="basic-customManualPayment-101836390687"
                                                                        name="basic"
                                                                        class="_6hzjvo5 _1fragemfq _1fragemfs _1fragemmd _1fragemm7 _1fragemmj _6hzjvof _1fragemfh _1fragemmu _6hzjvoe _6hzjvob">
                                                                    </div>
                                                                    <div class="f5aCe">
                                                                      <div><span
                                                                          class="_19gi7yt0 _19gi7yth _1fragemg6">Chuyển
                                                                          tiền MOMO</span></div>
                                                                    </div>
                                                                  </div>
                                                                </label>
                                                                <div
                                                                  id="basic-customManualPayment-101836390687-collapsible"
                                                                  hidden=""
                                                                  class="_94sxtb1 _1fragemlf _1fragemlh _1fragemeg _1fragemmf _1fragemmj _1fragemm9"
                                                                  style="height: 0px;">
                                                                  <div></div>
                                                                </div>
                                                              </div> -->
                                                            </div>
                                                          </fieldset>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <!-- <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgh _1fragemgy">
                                                      <h2 class="n8k95w1 _1fragemeg n8k95w3">Địa chỉ thanh toán (không
                                                        bắt buộc)</h2>
                                                      <fieldset id="billing_address_selector">
                                                        <legend class="_1fragemm0">Choose a billing address</legend>
                                                        <div
                                                          class="Wo4qW ezrb1p3 _1fragemfh _1fragemmu NDMe9 NdTJE PuVf0">
                                                          <div class="B4zH6 Zb82w HKtYc OpmPd"><label
                                                              for="billing_address_selector-shipping_address"
                                                              class="yL8c2 ezrb1p5 _1fragemfi D1RJr">
                                                              <div class="hEGyz">
                                                                <div class="_1fragemeg"><input type="radio"
                                                                    id="billing_address_selector-shipping_address"
                                                                    name="billing_address_selector"
                                                                    class="_6hzjvo5 _1fragemfq _1fragemfs _1fragemmd _1fragemm7 _1fragemmj _6hzjvof _1fragemfh _1fragemmu _6hzjvoe _6hzjvob">
                                                                </div><span class="_19gi7yt0 _19gi7yth _1fragemg6">Giống
                                                                  với địa chỉ nhận hàng</span>
                                                              </div>
                                                            </label></div>
                                                          <div class="B4zH6"><label
                                                              for="billing_address_selector-custom_billing_address"
                                                              class="yL8c2 D1RJr">
                                                              <div class="hEGyz">
                                                                <div class="_1fragemeg"><input type="radio"
                                                                    id="billing_address_selector-custom_billing_address"
                                                                    name="billing_address_selector"
                                                                    class="_6hzjvo5 _1fragemfq _1fragemfs _1fragemmd _1fragemm7 _1fragemmj _6hzjvof _1fragemfh _1fragemmu _6hzjvoe _6hzjvob">
                                                                </div><span class="_19gi7yt0 _19gi7yth _1fragemg6"> Sử
                                                                  dụng địa chỉ thanh toán khác</span>
                                                              </div>
                                                            </label>
                                                            <div
                                                              id="billing_address_selector-custom_billing_address-collapsible"
                                                              hidden=""
                                                              class="_94sxtb1 _1fragemlf _1fragemlh _1fragemeg _1fragemmf _1fragemmj _1fragemm9"
                                                              style="height: 0px;">
                                                              <div></div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </fieldset>
                                                    </div> -->
                                                  </div>
                                                </div>
                                              </div>
                                            </section>
                                            <div class="_16s97g74g _16s97g74x"></div>
                                          </div>
                                        </div>
                                        <div>
                                          <div>
                                            <section
                                              class="_1fragemfg _1fragemfd _1fragemfs _1fragem8s _1fragem9p _1fragemao _1fragembl _1fragem6w _1fragem7t _1fragemck _1fragemdh _1fragemmu _1fragemeg">
                                              <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgl _1fragemh2">
                                                <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgj _1fragemh0">
                                                  <div>
                                                    <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgh _1fragemgy">
                                                      <div id="pay-button-container" class="_1fragemfs _1fragemeg">
                                                        <div>
                                                          <div
                                                            >
                                                            @*<button type="submit"
                                                              class="QT4by _1fragemfk rqC98 EbLsk _7QHNJ VDIfJ j6D1f janiy"><span
                                                                class="AjwsM"><span
                                                                  class="_19gi7yt0 _19gi7ytl _1fragemg8">Hoàn
                                                                  thành</span></span></button>*@
                                                                  <input type="submit" value="Đặt hàng" class="btn btn-dark w-25 m-auto p-3 " style="font-size: 20px;" />
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </section>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="_1fragemfs _1fragemm0 _1fragemeg">
                                      @*<button type="submit" tabindex="-1" aria-hidden="true">Submit</button></div>*@
                                      <input type="submit" value="buttonHidden" class="btn btn-primary" />
                                </form>
                              </div>
                              <div role="status" class="_1fragemm0">Updated shipping method: Giao Nhanh (2-3 Ngày Trong
                                HCM | 3-4 Ngày Tại Các Tỉnh Khác)</div>
                            </main>
                          </div>
                        </div>
                        <div
                          class="_1fragemfu _1fragemg0 _1fragemet _1fragem30 _1fragem2g _1fragem3c _1fragem20 _1fragemeg">
                          <footer
                            class="_1fragemfs _1fragem8s _1fragemao _1fragem6w _1fragemck _1fragemeg _16s97g77s  _16s97g732"
                            style="--_16s97g72y: 65rem;">
                            <div class="_1fragemfs _1fragem9o _1fragemao _1fragem7s _1fragemck _1fragemeg">
                              <div>
                                <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgi _1fragemgz">
                                  <div class="_1fragemfu _1fragemeg _1fragemhx">
                                    <div
                                      class="_5uqybw2 _1fragemfu _1fragemds _1fragemeo _1fragemes _1fragemgd _1fragemgy _1fragemhx">
                                      <small class="copyright__content">© 2024, <a asp-page="/index"
                                          title="">VietInk</a></small>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </footer>
                        </div>
                      </div>
                    </div>
                    <div class="_16s97g7s" style="--_16s97g7o: span 2;">
                      <div
                        class="_1fragemfg _1fragemfe _1fragemfs _1fragemmu _1fragem2w _1fragem2g _1fragem3c _1fragem24 _1fragemeg _16s97g788">
                        <div
                          class="_1fragemfs _1fragem8s _1fragemao _1fragem6w _1fragemck _1fragemek _16s97g730    _16s97g71w _16s97g724 _16s97g72c _16s97g72k"
                          style="--_16s97g72w: 45.5rem; --_16s97g71s: 0rem; --_16s97g720: auto; --_16s97g728: auto; --_16s97g72g: auto;">
                          <aside class="_1fragemfs _1fragem8u _1fragemaq _1fragem6y _1fragemcm _1fragemeg _16s97g7ac">
                            <div>
                              <section class="_1fragemfs _1fragemeg">
                                <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgj _1fragemh0">
                                  <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgj _1fragemh0">
                                    <section class="_1fragemfs _1fragemeg">
                                      <div class="_1fragemfs _1fragemm0 _1fragemeg">
                                        <h3 id="ResourceList0" class="n8k95w1 _1fragemeg n8k95w4">Shopping cart</h3>
                                      </div>
                                        @foreach(var item in Model.Cart.CartItems)
                                        {
                                            <div role="table" aria-labelledby="ResourceList0" class="_6zbcq55 _1fragemfu _1fragemg0 _6zbcq56">
                                                <div role="row" class="_6zbcq51d _1fragemfu _1fragemes _1fragemht _6zbcq51b">
                                                    <div role="columnheader" class="_6zbcq51e">
                                                        <div class="_1fragemfs _1fragemm0 _1fragemeg">Product image</div>
                                                    </div>
                                                    <div role="columnheader" class="_6zbcq51e">
                                                        <div class="_1fragemfs _1fragemm0 _1fragemeg">Description</div>
                                                    </div>
                                                    <div role="columnheader" class="_6zbcq51e">
                                                        <div class="_1fragemfs _1fragemm0 _1fragemeg">Số lượng</div>
                                                    </div>
                                                    <div role="columnheader" class="_6zbcq51e">
                                                        <div class="_1fragemfs _1fragemm0 _1fragemeg">Price</div>
                                                    </div>
                                                </div>
                                                <div role="row" class="_6zbcq524 _1fragemfu _1fragem1w _6zbcq52b">
                                                    <div role="cell" class="_6zbcq53s _1fragemfu _1fragemg0 _1fragemhx">
                                                        <div class="_1m6j2n32 _1fragemeg _1fragemmy _1m6j2n33"
                                                            style="--_1m6j2n30: 1;">
                                                            <div class="_1h3po421 _1h3po423 _1fragemeg" style="--_1h3po420: 1;">
                                                                <picture>
                                                                    <source media="(min-width: 0px)">
                                                                    <img src="~/ProductImages/@item.Product.Image"
                                                                        alt="@item.Product.ProductName"
                                                                        class="_1h3po424 _1fragemfs _1fragemdo _1fragemic _1fragemih _1fragemir _1fragemim _1fragem30 _1fragem2k _1fragem3g _1fragem24 _1fragem4w _1fragem4c _1fragem5g _1fragem3s _1frageme0">
                                                                </picture>
                                                            </div>
                                                            <div class="_1m6j2n3e _1frageme8 _1fragemjt _1fragemkc">
                                                                <div class="_99ss3s1 _1fragemfx _1fragemes _1fragemhv _99ss3s4 _99ss3s2 _99ss3s8">
                                                                    @item.Quantity
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="cell"
                                                        class="_6zbcq53s _1fragemfu _1fragemg0 _1fragemhv _1fragemg3">
                                                        <div class="_1fragemfs _1fragemeg iZ894">
                                                            <p class="_1x52f9s1 _1fragemeg _1x52f9so _1fragemg6">
                                                                @item.Product.ProductName
                                                            </p>
                                                            <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgr _1fragemh8">
                                                                <div class="_1fragemeg _1fragemfy _1fragemgd _1fragemgu _1fragemeo _1fragemes _1fragemh9 _16s97g7c _16s97g7k _16s97g718 _16s97g71g"
                                                                    style="--_16s97g78: 1fr; --_16s97g7g: minmax(0, 1fr); --_16s97g714: minmax(auto, max-content) minmax(0, 1fr); --_16s97g71c: minmax(0, 1fr);">
                                                                    <!-- <span
                                                                        class="_1fragemht _1fragem1w _1fragemdo _1fragemdk a8x1wu3 a8x1wue _1fragemfw a8x1wuh a8x1wum">
                                                                        <svg
                                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"
                                                                        focusable="false" aria-hidden="true"
                                                                        class="a8x1wuo _1fragemfs _1fragemht _1fragemdo _1fragemdk">
                                                                        <path stroke-linecap="round"
                                                                            d="M7.284 1.402h4.964a.35.35 0 0 1 .35.35v4.964a.7.7 0 0 1-.205.495L7.49 12.115a.7.7 0 0 1-.99 0L1.885 7.5a.7.7 0 0 1 0-.99L6.79 1.607a.7.7 0 0 1 .495-.205Z">
                                                                        </path>
                                                                        <circle cx="9.1" cy="4.9" r="0.7"></circle>
                                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                                            d="M9.102 4.897h-.005v.005h.005z"></path>
                                                                        </svg>
                                                                    </span><span class="vGZhc">
                                                                        <p class="_1x52f9s1 _1fragemeg _1x52f9sm _1fragemg5 _1x52f9si">⭐️ 5%
                                                                        OFF KHI MUA 2 BỘ SƯU TẬP (-₫2,900)</p>
                                                                    </span> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="cell" class="_6zbcq53s _1fragemfu _1fragemg0 _1fragemhv _6zbcq53q">
                                                        <div class="_1fragemfs _1fragemm0 _1fragemeg">
                                                            <span class="_19gi7yt0 _19gi7yth _1fragemg6">
                                                                @item.Quantity
                                                                <div aria-hidden="true" class="_1fragemfs _1fragemeg">
                                                                    x
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div role="cell" class="_6zbcq53s _1fragemfu _1fragemg0 _1fragemhx">
                                                        <div class="_1fragemfu _1fragemg0 _1fragemet _1fragemhv _1fragemeg _16s97g738 bua0H"
                                                            style="--_16s97g734: 6.4rem;">
                                                            <del class="_19gi7yt0 _19gi7ytf _1fragemg5 _19gi7ytb _19gi7ytr _1fragemm6">₫@String.Format("{0:N0}",99000)</del>
                                                            <p class="_1x52f9s1 _1fragemeg _1x52f9so _1fragemg6">₫@String.Format("{0:N0}",item.Product.UnitPrice)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                        }
                                        
                                    </section>
                                  </div>
                                  <section class="_1fragemfs _1fragemeg">
                                    <div class="_1fragemfs _1fragemm0 _1fragemeg">
                                      <h3 id="MoneyLine-Heading0" class="n8k95w1 _1fragemeg n8k95w4">Cost summary</h3>
                                    </div>
                                    <div role="table" aria-labelledby="MoneyLine-Heading0" class="nfgb6p0">
                                      <div role="row" class="_1qy6ue61 _1fragemfy _1qy6ue65">
                                        <div role="rowheader" class="_1qy6ue67"><span
                                            class="_19gi7yt0 _19gi7yth _1fragemg6">Tạm Tính</span></div>
                                        <div role="cell" class="_1qy6ue68"><span translate="yes"
                                            class="_19gi7yt0 _19gi7yth _1fragemg6 _19gi7yt1 notranslate">₫@String.Format("{0:N0}", total)</span>
                                        </div>
                                      </div>
                                      <div role="row" class="_1qy6ue61 _1fragemfy _1qy6ue65">
                                        <div role="rowheader" class="_1qy6ue67">
                                          <div class="_1ip0g651 _1fragemfy _1fragemeg _1fragemgd _1fragemgu">
                                            <div class="_1fragemfu _1fragemeg _1fragemhx">
                                              <div
                                                class="_5uqybw2 _1fragemfu _1fragemds _1fragemgd _1fragemgu _1fragemeo _1fragemes _1fragemhx">
                                                <span class="_19gi7yt0 _19gi7yth _1fragemg6">Phí vận chuyển</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div role="cell" class="_1qy6ue68"><span translate="yes"
                                            class="_19gi7yt0 _19gi7yth _1fragemg6 notranslate">₫22,000</span></div>
                                      </div>
                                      <div role="row" class="_1x41w3p1 _1fragemfy _1fragemes _1x41w3p5">
                                        <div role="rowheader" class="_1x41w3p7"><span
                                            class="_19gi7yt0 _19gi7ytl _1fragemg8 _19gi7yt1">Tổng</span></div>
                                        <div role="cell" class="_1x41w3p8">
                                          <div class="_1fragemfu _1fragemeg _1fragemhx">
                                            <div
                                              class="_5uqybw2 _1fragemfu _1fragemds _1fragemgf _1fragemgw _1fragemer _1fragemhx">
                                              <abbr translate="yes"
                                                class="_19gi7yt0 _19gi7ytf _1fragemg5 _19gi7ytb notranslate _19gi7ytt _1fragemm4">VND</abbr><strong
                                                translate="yes"
                                                class="_19gi7yt0 _19gi7ytl _1fragemg8 _19gi7yt1 notranslate">₫@String.Format("{0:N0}",total + 22000)</strong>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="_16s97g754"></div>
                                    <div role="row" class="_1x41w3p1 _1fragemfy _1fragemes _1x41w3p5">
                                      <div role="rowheader" class="_1x41w3p7">
                                        <div class="_1fragemfu _1fragemeg _1fragemhx">
                                          <div
                                            class="_5uqybw2 _1fragemfu _1fragemds _1fragemgf _1fragemgw _1fragemeo _1fragemes _1fragemhx">
                                            <span
                                              class="_1fragemht _1fragem1w _1fragemdo _1fragemdk a8x1wua _1fragemfs a8x1wui a8x1wum"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" focusable="false"
                                                aria-hidden="true"
                                                class="a8x1wuo _1fragemfs _1fragemht _1fragemdo _1fragemdk">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="m10.802 15.686 5.367-5.368a.15.15 0 0 0 .046-.109V4.144m-2.998-.95h-5.67a.16.16 0 0 0-.11.046L1.779 8.897a.154.154 0 0 0 0 .219l5.594 5.593c.06.06.158.06.218 0l5.658-5.657a.15.15 0 0 0 .045-.11v-5.67a.077.077 0 0 0-.077-.077Zm-3.06 3.749a.643.643 0 1 1-1.286 0 .643.643 0 0 1 1.286 0m-.648-.005h.01v.01h-.01z">
                                                </path>
                                              </svg></span><strong
                                              class="_19gi7yt0 _19gi7yth _1fragemg6 _19gi7yt1">TOTAL SAVINGS</strong><strong translate="yes"
                                              class="_19gi7yt0 _19gi7yth _1fragemg6 _19gi7yt1 notranslate">₫@String.Format("{0:N0}", originalTotal - total)</strong>
                                          </div>
                                        </div>
                                      </div>
                                      <div role="cell" class="_1x41w3p8"></div>
                                    </div>
                                  </section>
                                </div>
                              </section>
                            </div>
                          </aside>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="status" class="_1fragemm0">Updated total price: ₫77,100 VND</div>
          </div>
          <div id="PortalHost"></div>
        </div>
      </div>
    </div>
    <div id="forwarding-external-new-window-message" aria-hidden="true" class="_1fragemm0">Opens external website in a
      new window.</div>
  </div>


  <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

  <!-- <script async="true" src="~/assets/Checkout/b9945bf9fw9f0493d3pc3794183m37925d68m.js"></script> -->
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/toastr.min.js"></script>
<link href="~/css/toastr.min.css" rel="stylesheet" />

@if( Model.Status == 1)
{
    <script>
        toastr.success("Đặt hàng thành công!", 'Notification', { timeOut: 3000 });
    </script>
}
else if (Model.Status == 2)
{
    <script>
        toastr.error("Giỏ hàng trống hoặc Số lượng sản phẩm trong kho không đủ! Bạn vui lòng cập nhật giỏ hàng!", 'Notification', { timeOut: 3000 });
    </script>
}



</body><iframe id="__JSBridgeIframe_1.0__" title="jsbridge___JSBridgeIframe_1.0__" style="display: none;"
  
</html>
