@font-face {
  font-family: "AntiqueOliveVN";
  src: url("AntiqueOliveVN-BoldCondensed.woff2") format("woff2"),
    url("AntiqueOliveVN-BoldCondensed.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AntiqueOliveVN";
  src: url("AntiqueOliveVN-Bold.woff2") format("woff2"),
    url("AntiqueOliveVN-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AntiqueOliveVN";
  src: url("AntiqueOliveVN-Regular.woff2") format("woff2"),
    url("AntiqueOliveVN-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AntiqueOliveVN";
  src: url("AntiqueOliveVN-Compact.woff2") format("woff2"),
    url("AntiqueOliveVN-Compact.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
